* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  font-family: 'Spartan', sans-serif;
  background: #f8f8fb;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  overflow-x: hidden;
}

body.form-show {
  overflow: hidden;
}

body.form-show form {
  visibility: visible;
  opacity: 1;
}

body.form-show form .inner-container {
  left: 0%;
}

body[data-theme='dark'] {
  background: #141625;
}

body[data-theme='dark'] aside .mode-and-avatar .modes .dark-mode-icon {
  display: none;
}

body[data-theme='dark'] aside .mode-and-avatar .modes .light-mode-icon {
  display: block;
}

body[data-theme='dark'] main header .invoice-details h1 {
  color: #fff;
}

body[data-theme='dark'] main header .invoice-details p {
  color: #dfe3fa;
}

body[data-theme='dark'] main header .right-side .filter-section .filter-container p {
  color: #fff;
}

body[data-theme='dark'] main header .right-side .filter-section ul {
  background: #252945;
}

body[data-theme='dark'] main header .right-side .filter-section ul li {
  color: #fff;
}

body[data-theme='dark'] main header .right-side .filter-section ul li input[type='checkbox'] {
  background: #1e2139;
}

body[data-theme='dark'] main section article {
  background: #1e2139;
}

body[data-theme='dark'] main section article.draft .right-side .status {
  background: rgba(55, 59, 83, 0.3);
}

body[data-theme='dark'] main section article.draft .right-side .status i {
  color: #fff;
}

body[data-theme='dark'] main section article.draft .right-side .status p {
  color: #fff;
}

body[data-theme='dark'] main section article .left-side .code-id,
body[data-theme='dark'] main section article .left-side .name {
  color: #fff;
}

body[data-theme='dark'] main section article .left-side .due-date {
  color: #dfe3fa;
}

body[data-theme='dark'] main section article .right-side .amount {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container {
  background: #141625;
}

body[data-theme='dark'] main form .inner-container h2 {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container .form-content label {
  color: #dfe3fa;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text'],
body[data-theme='dark'] main form .inner-container .form-content input[type='email'],
body[data-theme='dark'] main form .inner-container .form-content input[type='date'],
body[data-theme='dark'] main form .inner-container .form-content select {
  color: #fff;
  background: #1e2139;
  border: 1px solid #141625 !important;
  caret-color: #7b5cfa;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text'].empty,
body[data-theme='dark'] main form .inner-container .form-content input[type='email'].empty,
body[data-theme='dark'] main form .inner-container .form-content input[type='date'].empty,
body[data-theme='dark'] main form .inner-container .form-content select.empty {
  border: 1px solid #ff4500 !important;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']:focus,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']:focus,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']:focus,
body[data-theme='dark'] main form .inner-container .form-content select:focus {
  border: 1px solid #7b5cfa !important;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']::-webkit-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']::-webkit-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']::-webkit-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content select::-webkit-input-placeholder {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']:-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']:-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']:-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content select:-ms-input-placeholder {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']::-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']::-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']::-ms-input-placeholder,
body[data-theme='dark'] main form .inner-container .form-content select::-ms-input-placeholder {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']::placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']::placeholder,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']::placeholder,
body[data-theme='dark'] main form .inner-container .form-content select::placeholder {
  color: #fff;
}

body[data-theme='dark'] main form .inner-container .form-content input[type='text']::-webkit-datetime-edit-fields-wrapper,
body[data-theme='dark'] main form .inner-container .form-content input[type='email']::-webkit-datetime-edit-fields-wrapper,
body[data-theme='dark'] main form .inner-container .form-content input[type='date']::-webkit-datetime-edit-fields-wrapper,
body[data-theme='dark'] main form .inner-container .form-content select::-webkit-datetime-edit-fields-wrapper {
  color: #fff !important;
}

body[data-theme='dark'] main form .inner-container .form-content select option {
  color: #fff !important;
}

body[data-theme='dark'] main form .inner-container .form-content .bill-to .item-list h4 {
  color: #dfe3fa;
}

body[data-theme='dark'] main form .inner-container .form-content .bill-to .item-list button {
  background: #252945;
}

body[data-theme='dark'] main form .inner-container .form-content .bill-to .item-list button:hover {
  background: #1e2139;
}

body[data-theme='dark'] main form .inner-container .button-selections .discard-btn {
  background: #1e2139;
}

body[data-theme='dark'] main form .inner-container .button-selections .discard-btn:hover {
  background: #fff;
}

body aside {
  height: 100vh;
  position: fixed;
  left: 0;
  width: 100px;
  background: #1e2139;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

body aside .logo-container {
  position: relative;
  width: 100%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 6rem;
  background: #7b5cfa;
}

body aside .logo-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  z-index: 10;
}

body aside .logo-container .bottom-half {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  background: #9381df;
  border-bottom-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
  z-index: 1;
}

body aside .mode-and-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body aside .mode-and-avatar .modes,
body aside .mode-and-avatar .avatar {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body aside .mode-and-avatar .modes {
  border-bottom: 1px solid #494e6e;
}

body aside .mode-and-avatar .modes img {
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body aside .mode-and-avatar .modes .dark-mode-icon {
  display: block;
}

body aside .mode-and-avatar .modes .light-mode-icon {
  display: none;
}

body aside .mode-and-avatar .avatar i {
  font-size: 1.5rem;
}

body main {
  min-height: 100vh;
  width: calc(100vw - 100px);
  margin-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main header {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main header .invoice-details h1 {
  font-weight: 700;
}

body main header .invoice-details p {
  font-size: 0.8rem;
  color: darkgrey;
  margin-top: 10px;
}

body main header .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main header .right-side .filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4rem;
  position: relative;
}

body main header .right-side .filter-section .filter-container {
  cursor: pointer;
  display: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main header .right-side .filter-section .filter-container p {
  font-size: 0.8rem;
  margin-right: 10px;
  font-weight: 700;
}

body main header .right-side .filter-section .filter-container img {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body main header .right-side .filter-section .filter-container.show ~ ul {
  display: block;
}

body main header .right-side .filter-section .filter-container.show img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body main header .right-side .filter-section ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 3rem;
  left: -3rem;
  list-style: none;
  width: 200px;
  padding: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

body main header .right-side .filter-section ul li {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main header .right-side .filter-section ul li input[type='checkbox'] {
  position: relative;
  background: #dfe3fa;
  margin-right: 15px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: none;
  outline: none;
}

body main header .right-side .filter-section ul li input[type='checkbox']::after {
  content: '';
  position: absolute;
  top: 0;
  left: -0.5px;
  display: block;
  visibility: hidden;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  background: url(images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transform: scale(4);
          transform: scale(4);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body main header .right-side .filter-section ul li input[type='checkbox']:hover {
  border: 2px solid #7b5cfa;
}

body main header .right-side .filter-section ul li input[type='checkbox']:checked {
  background: #7b5cfa;
  border: none;
}

body main header .right-side .filter-section ul li input[type='checkbox']:checked::after {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body main header .right-side .filter-section ul li label {
  font-weight: 700;
  font-size: 0.8rem;
}

body main header .right-side button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 150px;
  padding: 0.5rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  background: #7b5cfa;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

body main header .right-side button:hover {
  background: rgba(123, 92, 250, 0.7);
}

body main header .right-side button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

body main header .right-side button div {
  height: 30px;
  width: 30px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
}

body main header .right-side button p {
  margin-left: 0.5rem;
  font-weight: 700;
  color: #fff;
}

body main section {
  margin-top: 5rem;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body main section article:hover {
  border: 1px solid #7b5cfa;
}

body main section article.hide {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  visibility: hidden;
}

body main section article.pending .right-side .status {
  background: rgba(255, 165, 0, 0.1);
}

body main section article.pending .right-side .status i {
  color: orange;
}

body main section article.pending .right-side .status p {
  color: orange;
}

body main section article.paid .right-side .status {
  background: rgba(51, 214, 159, 0.1);
}

body main section article.paid .right-side .status i {
  color: #33d69f;
}

body main section article.paid .right-side .status p {
  color: #33d69f;
}

body main section article.draft .right-side .status {
  background: rgba(55, 59, 83, 0.05);
}

body main section article.draft .right-side .status i {
  color: #373b53;
}

body main section article.draft .right-side .status p {
  color: #373b53;
}

body main section article .left-side,
body main section article .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section article .left-side .code-id {
  width: 4rem;
  font-size: 0.8rem;
  font-weight: 700;
}

body main section article .left-side .code-id span {
  color: gray;
  font-weight: 600;
  font-size: 0.8rem;
}

body main section article .left-side .due-date,
body main section article .left-side .name {
  margin-left: 2rem;
  font-size: 0.8rem;
  color: darkgrey;
}

body main section article .right-side .amount {
  font-weight: 700;
  margin-right: 2rem;
}

body main section article .right-side .status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  padding: 0.8rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 1.5rem;
}

body main section article .right-side .status i {
  font-size: 0.6rem;
  margin-right: 10px;
}

body main section article .right-side .status p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #000;
}

body main .invoice-info-section {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .invoice-info-section .back-btn {
  cursor: pointer;
  width: 6rem;
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .invoice-info-section .back-btn p {
  margin-left: 1.5rem;
  font-size: 12px;
}

body main .invoice-info-section .invoice-status {
  margin-top: 2rem;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3.5rem 8rem 1fr 1fr 1fr 1fr 1fr 6rem;
      grid-template-columns: 3.5rem 8rem 1fr 1fr 1fr 1fr 1fr 6rem;
  -ms-flex-line-pack: center;
      align-content: center;
      grid-template-areas: 'status status-info . . . . edit delete';
}

body main .invoice-info-section .invoice-status.pending .status {
  background: rgba(255, 165, 0, 0.1);
}

body main .invoice-info-section .invoice-status.pending .status i {
  color: orange;
}

body main .invoice-info-section .invoice-status.pending .status p {
  color: orange;
}

body main .invoice-info-section .invoice-status.paid .status {
  background: rgba(51, 214, 159, 0.05);
}

body main .invoice-info-section .invoice-status.paid .status i {
  color: #33d69f;
}

body main .invoice-info-section .invoice-status.paid .status p {
  color: #33d69f;
}

body main .invoice-info-section .invoice-status.draft .status {
  background: rgba(55, 59, 83, 0.05);
}

body main .invoice-info-section .invoice-status.draft .status i {
  color: #373b53;
}

body main .invoice-info-section .invoice-status.draft .status p {
  color: #373b53;
}

body main .invoice-info-section .invoice-status p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: status;
  text-align: left;
  font-size: 12px;
  color: #888eb0;
}

body main .invoice-info-section .invoice-status .status {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: status-info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  margin-right: 1.5rem;
}

body main .invoice-info-section .invoice-status .status i {
  font-size: 0.6rem;
  margin-right: 10px;
}

body main .invoice-info-section .invoice-status .status p {
  font-size: 12px;
  font-weight: 700;
  color: #000;
}

body main .invoice-info-section .invoice-status .edit-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: edit;
  background: none;
  border: none;
  font-weight: 700;
  color: #7b5cfa;
  border-radius: 2rem;
  margin-right: 1rem;
  padding: 1rem 1.5rem;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
}

body main .invoice-info-section .invoice-status .edit-btn:hover {
  background: #dfe3fa;
}

body main .invoice-info-section .invoice-status .delete-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: delete;
  background: #ec5757;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  -webkit-transition: 0.3s ease-in all;
  transition: 0.3s ease-in all;
  font-size: 12px;
}

body main .invoice-info-section .invoice-status .delete-btn:hover {
  background: rgba(236, 87, 87, 0.7);
}

body main .invoice-info-section .invoice-personal-details {
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  margin-top: 2rem;
}

body main .invoice-info-section .invoice-personal-details .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .invoice-info-section .invoice-personal-details .top .left-side h4 {
  color: #7b5cfa;
}

body main .invoice-info-section .invoice-personal-details .top .left-side h4 span {
  color: #000;
}

body main .invoice-info-section .invoice-personal-details .top .left-side p {
  margin-top: 10px;
  font-size: 12px;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .top .right-side p {
  display: block;
  color: #888eb0;
  font-size: 12px;
  text-align: right;
  margin: 3px;
}

body main .invoice-info-section .invoice-personal-details .middle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
}

body main .invoice-info-section .invoice-personal-details .middle .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .invoice-info-section .invoice-personal-details .middle .left-side .date p,
body main .invoice-info-section .invoice-personal-details .middle .left-side .due p {
  font-size: 12px;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .middle .left-side .date h4,
body main .invoice-info-section .invoice-personal-details .middle .left-side .due h4 {
  margin-top: 10px;
}

body main .invoice-info-section .invoice-personal-details .middle .mid-side p {
  color: #888eb0;
  font-size: 12px;
  margin-bottom: 3px;
}

body main .invoice-info-section .invoice-personal-details .middle .mid-side h4 {
  margin: 15px 0 7px;
}

body main .invoice-info-section .invoice-personal-details .middle .right-side p {
  color: #888eb0;
  font-size: 12px;
}

body main .invoice-info-section .invoice-personal-details .middle .right-side h4 {
  margin-top: 10px;
}

body main .invoice-info-section .invoice-personal-details .bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4rem 4rem 1fr;
      grid-template-columns: 1fr 4rem 4rem 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: 'name qty price total' 'amount-due amount-due amount-due amount-due';
  margin-top: 8rem;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-name .name {
  font-weight: 400;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-name p {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 2rem 2rem;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-quantity {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: qty;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-quantity .quantity {
  font-weight: 400;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-quantity p {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-price .price {
  font-weight: 400;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-price p {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-total {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: total;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-total .total {
  font-weight: 400;
  color: #888eb0;
}

body main .invoice-info-section .invoice-personal-details .bottom .item-total p {
  text-align: right;
  font-size: 12px;
  font-weight: 700;
  margin: 0 2rem 2rem 0;
}

body main .invoice-info-section .invoice-personal-details .bottom .amount-due {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: amount-due;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #373b53;
  padding: 2rem;
  border: 5px;
}

body main .invoice-info-section .invoice-personal-details .bottom .amount-due p {
  color: #fff;
  font-weight: 700;
}

body main .invoice-info-section .invoice-personal-details .bottom .amount-due .due {
  font-size: 12px;
}

body main .invoice-info-section .invoice-personal-details .bottom .amount-due .total {
  font-size: 1.5rem;
}

body form {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: block;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

body form .inner-container {
  height: 100%;
  width: 50%;
  position: absolute;
  left: -100%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background: #fff;
  padding: 3rem 2rem 1rem 10rem;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

body form .inner-container .form-content {
  margin-top: 3rem;
  padding-right: 2rem;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body form .inner-container .form-content::-webkit-scrollbar {
  width: 10px;
}

body form .inner-container .form-content::-webkit-scrollbar-thumb {
  background: rgba(123, 92, 250, 0.7);
  border-radius: 5px;
}

body form .inner-container .form-content p,
body form .inner-container .form-content label {
  font-size: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body form .inner-container .form-content .bill-from p {
  color: #7b5cfa;
  font-weight: 700;
}

body form .inner-container .form-content .bill-from label {
  color: #7b5cfa;
  display: block;
  margin-top: 1rem;
}

body form .inner-container .form-content .bill-from input[type='text'] {
  height: 3rem;
  width: 100%;
  border: 1px solid #dfe3fa;
  margin-top: 10px;
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body form .inner-container .form-content .bill-from input[type='text']:focus {
  border: 1px solid #7b5cfa;
}

body form .inner-container .form-content .bill-from input[type='text'].empty {
  border: 1px solid orangered;
}

body form .inner-container .form-content .bill-from .more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

body form .inner-container .form-content .bill-from .more-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

body form .inner-container .form-content .bill-to {
  margin-top: 3rem;
}

body form .inner-container .form-content .bill-to p {
  color: #7b5cfa;
  font-weight: 700;
}

body form .inner-container .form-content .bill-to label {
  color: #7b5cfa;
  display: block;
  margin-top: 1rem;
}

body form .inner-container .form-content .bill-to input[type='text'],
body form .inner-container .form-content .bill-to input[type='email'] {
  height: 3rem;
  width: 100%;
  border: 1px solid #dfe3fa;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body form .inner-container .form-content .bill-to input[type='text'].empty,
body form .inner-container .form-content .bill-to input[type='email'].empty {
  border: 1px solid orangered;
}

body form .inner-container .form-content .bill-to input[type='text']:focus,
body form .inner-container .form-content .bill-to input[type='email']:focus {
  border: 1px solid #7b5cfa;
}

body form .inner-container .form-content .bill-to input[type='text']::-webkit-input-placeholder,
body form .inner-container .form-content .bill-to input[type='email']::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

body form .inner-container .form-content .bill-to input[type='text']:-ms-input-placeholder,
body form .inner-container .form-content .bill-to input[type='email']:-ms-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

body form .inner-container .form-content .bill-to input[type='text']::-ms-input-placeholder,
body form .inner-container .form-content .bill-to input[type='email']::-ms-input-placeholder {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

body form .inner-container .form-content .bill-to input[type='text']::placeholder,
body form .inner-container .form-content .bill-to input[type='email']::placeholder {
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.4);
}

body form .inner-container .form-content .bill-to .more-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

body form .inner-container .form-content .bill-to .more-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}

body form .inner-container .form-content .bill-to .payment-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

body form .inner-container .form-content .bill-to .payment-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}

body form .inner-container .form-content .bill-to .payment-details div input[type='date'],
body form .inner-container .form-content .bill-to .payment-details div select {
  height: 3rem;
  width: 100%;
  border: 1px solid #dfe3fa;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  padding: 1rem;
  cursor: pointer;
}

body form .inner-container .form-content .bill-to .payment-details div input[type='date']:focus,
body form .inner-container .form-content .bill-to .payment-details div select:focus {
  border: 1px solid #7b5cfa !important;
}

body form .inner-container .form-content .bill-to .payment-details div input[type='date']::-webkit-calendar-picker-indicator {
  cursor: pointer;
  -webkit-filter: invert(53%) sepia(70%) saturate(7354%) hue-rotate(238deg) brightness(109%) contrast(96%);
          filter: invert(53%) sepia(70%) saturate(7354%) hue-rotate(238deg) brightness(109%) contrast(96%);
}

body form .inner-container .form-content .bill-to .payment-details div input[type='date']::-webkit-datetime-edit-fields-wrapper {
  font-family: 'Spartan', sans-serif;
  font-weight: 900;
  font-size: 12px;
  color: rgba(123, 92, 250, 0.7);
}

body form .inner-container .form-content .bill-to .payment-details div select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body form .inner-container .form-content .bill-to .payment-details div select option {
  font-weight: 700;
  color: rgba(123, 92, 250, 0.7);
}

body form .inner-container .form-content .bill-to .item-list.field-empty-alert small {
  display: block;
}

body form .inner-container .form-content .bill-to .item-list.item-empty-alert .item-alert {
  display: block;
}

body form .inner-container .form-content .bill-to .item-list h4 {
  margin-top: 3rem;
  color: rgba(55, 59, 83, 0.8);
  font-size: 1.5rem;
}

body form .inner-container .form-content .bill-to .item-list .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 2fr 1fr 0.2fr;
      grid-template-columns: 3fr 1fr 2fr 1fr 0.2fr;
  grid-gap: 0 15px;
      grid-template-areas: 'name quantity price total delete';
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

body form .inner-container .form-content .bill-to .item-list .item.remove {
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  opacity: 0;
  visibility: hidden;
}

body form .inner-container .form-content .bill-to .item-list .item .name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

body form .inner-container .form-content .bill-to .item-list .item .quantity {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: quantity;
}

body form .inner-container .form-content .bill-to .item-list .item .price {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: price;
}

body form .inner-container .form-content .bill-to .item-list .item .total {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: total;
}

body form .inner-container .form-content .bill-to .item-list .item .total p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 25px 0 0 10px;
}

body form .inner-container .form-content .bill-to .item-list .item img {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: delete;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 20px;
  cursor: pointer;
}

body form .inner-container .form-content .bill-to .item-list .item img:hover {
  -webkit-filter: invert(42%) sepia(56%) saturate(6715%) hue-rotate(1deg) brightness(102%) contrast(106%);
          filter: invert(42%) sepia(56%) saturate(6715%) hue-rotate(1deg) brightness(102%) contrast(106%);
}

body form .inner-container .form-content .bill-to .item-list button {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 2rem;
  border: none;
  outline: none;
  padding: 1rem;
  background: #fff;
  font-weight: 700;
  color: #7e88c3;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  cursor: pointer;
}

body form .inner-container .form-content .bill-to .item-list button img {
  margin-right: 5px;
}

body form .inner-container .form-content .bill-to .item-list button:hover {
  background: #dfe3fa;
}

body form .inner-container .form-content .bill-to .item-list small,
body form .inner-container .form-content .bill-to .item-list .item-alert {
  color: orangered;
  display: block;
  font-size: 12px;
  font-weight: 500;
  display: none;
}

body form .inner-container .form-content .bill-to .item-list small {
  margin-top: 3rem;
}

body form .inner-container .form-content .bill-to .item-list .item-alert {
  margin-top: 10px;
}

body form .inner-container .button-selections {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px 10px;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: 'discard . . . draft send';
}

body form .inner-container .button-selections .discard-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: discard;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  color: #7e88c3;
  background: #fff;
  font-weight: 800;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body form .inner-container .button-selections .discard-btn:hover {
  background: #dfe3fa;
}

body form .inner-container .button-selections .draft-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: draft;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  background: #373b53;
  font-size: 12px;
  width: 8rem;
  font-weight: 700;
  cursor: pointer;
  color: #7e88c3;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body form .inner-container .button-selections .draft-btn:hover {
  background: #000;
}

body form .inner-container .button-selections .send-btn {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: send;
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: 8rem;
  font-weight: 700;
  font-size: 12px;
  background: #7b5cfa;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

body form .inner-container .button-selections .send-btn:hover {
  background: rgba(123, 92, 250, 0.8);
}
/*# sourceMappingURL=styles.css.map */