$violet: hsl(252, 94%, 67%);
$dark-grayish-blue: #373b53;
$invoice-details-text-color: #888eb0;
$text-color: #7e88c3;
$green: #33d69f;
$pale-blue: #dfe3fa;
$pale-red: #ec5757;
$white: #fff;
$black: #000;
$border-radius: 1.5rem;
$bg: #f8f8fb;
$dark-bg: #141625;
$button-dark-bg: #252945;
$dark-article-bg: #1e2139;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  font-family: 'Spartan', sans-serif;
  background: $bg;
  transition: all 0.3s ease-in;
  overflow-x: hidden;

  &.form-show {
    overflow: hidden;

    form {
      visibility: visible;
      opacity: 1;

      .inner-container {
        left: 0%;
      }
    }
  }

  &[data-theme='dark'] {
    background: $dark-bg;

    aside {
      .mode-and-avatar {
        .modes {
          .dark-mode-icon {
            display: none;
          }

          .light-mode-icon {
            display: block;
          }
        }
      }
    }

    main {
      header {
        .invoice-details {
          h1 {
            color: $white;
          }

          p {
            color: $pale-blue;
          }
        }

        .right-side {
          .filter-section {
            .filter-container {
              p {
                color: $white;
              }
            }

            ul {
              background: $button-dark-bg;

              li {
                color: $white;

                input[type='checkbox'] {
                  background: $dark-article-bg;
                }
              }
            }
          }
        }
      }

      section {
        article {
          background: $dark-article-bg;

          &.draft {
            .right-side {
              .status {
                background: rgba($dark-grayish-blue, 0.3);

                i {
                  color: $white;
                }

                p {
                  color: $white;
                }
              }
            }
          }

          .left-side {
            .code-id,
            .name {
              color: $white;
            }

            .due-date {
              color: $pale-blue;
            }
          }

          .right-side {
            .amount {
              color: $white;
            }
          }
        }
      }

      form {
        .inner-container {
          background: $dark-bg;

          h2 {
            color: $white;
          }

          .form-content {
            label {
              color: $pale-blue;
            }

            input[type='text'],
            input[type='email'],
            input[type='date'],
            select {
              &.empty {
                border: 1px solid #ff4500 !important;
              }

              &:focus {
                border: 1px solid $violet !important;
              }

              &::placeholder {
                color: $white;
              }

              &::-webkit-datetime-edit-fields-wrapper {
                color: $white !important;
              }

              color: $white;
              background: $dark-article-bg;
              border: 1px solid $dark-bg !important;
              caret-color: $violet;
            }

            select {
              option {
                color: $white !important;
              }
            }

            .bill-to {
              .item-list {
                h4 {
                  color: $pale-blue;
                }

                button {
                  background: $button-dark-bg;

                  &:hover {
                    background: $dark-article-bg;
                  }
                }
              }
            }
          }

          .button-selections {
            .discard-btn {
              background: $dark-article-bg;

              &:hover {
                background: $white;
              }
            }
          }
        }
      }
    }
  }

  aside {
    height: 100vh;
    position: fixed;
    left: 0;
    width: 100px;
    background: $dark-article-bg;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 10;

    .logo-container {
      position: relative;
      width: 100%;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      height: 6rem;
      background: $violet;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.2);
        z-index: 10;
      }

      .bottom-half {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0;
        background: hsl(252, 60%, 69%);
        border-bottom-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        z-index: 1;
      }
    }

    .mode-and-avatar {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .modes,
      .avatar {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .modes {
        border-bottom: 1px solid #494e6e;

        img {
          cursor: pointer;
          transition: all 0.3s linear;
        }

        .dark-mode-icon {
          display: block;
        }

        .light-mode-icon {
          display: none;
        }
      }

      .avatar {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }

  main {
    min-height: 100vh;
    width: calc(100vw - 100px);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    align-items: center;

    &.show-invoice-details {
      header,
      section {
        transform: translateX(-30%);
        opacity: 0;
        visibility: hidden;
      }
    }

    header {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease-in-out;

      .invoice-details {
        h1 {
          font-weight: 700;
        }

        p {
          font-size: 0.8rem;
          color: darkgrey;
          margin-top: 10px;
        }
      }

      .right-side {
        display: flex;
        align-items: center;

        .filter-section {
          display: flex;
          align-items: center;
          margin-right: 4rem;

          position: relative;

          .filter-container {
            cursor: pointer;
            display: inherit;
            align-items: center;
            user-select: none;

            p {
              font-size: 0.8rem;
              margin-right: 10px;
              font-weight: 700;
            }

            img {
              transition: all 0.2s linear;
            }

            &.show {
              & ~ ul {
                display: block;
              }

              img {
                transform: rotate(180deg);
              }
            }
          }

          ul {
            display: none;
            background: $white;
            position: absolute;
            top: 3rem;
            left: -3rem;
            list-style: none;
            width: 200px;
            padding: 1.5rem;
            border-radius: 5px;
            box-shadow: 2px 2px 30px rgba($black, 0.1);
            transition: all 0.3s ease-in;

            li {
              margin: 10px 0;
              display: flex;
              align-items: center;

              input[type='checkbox'] {
                position: relative;
                background: $pale-blue;
                margin-right: 15px;
                cursor: pointer;
                appearance: none;
                height: 15px;
                width: 15px;
                border-radius: 3px;
                border: none;
                outline: none;

                &::after {
                  content: '';
                  position: absolute;
                  top: 0;
                  left: -0.5px;
                  display: block;
                  visibility: hidden;
                  height: 15px;
                  width: 15px;
                  border-radius: 3px;
                  background: url(images/icon-check.svg);
                  background-repeat: no-repeat;
                  background-position: center center;
                  transform: scale(4);
                  transition: all 0.2s ease-in;
                }

                &:hover {
                  border: 2px solid $violet;
                }

                &:checked {
                  background: $violet;
                  border: none;

                  &::after {
                    visibility: visible;
                    transform: scale(1);
                  }
                }
              }

              label {
                font-weight: 700;
                font-size: 0.8rem;
              }
            }
          }
        }

        button {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 150px;
          padding: 0.5rem;
          border-radius: 2rem;
          border: none;
          outline: none;
          background: $violet;
          cursor: pointer;
          transition: 0.3s ease-in all;

          &:hover {
            background: rgba($violet, 0.7);
          }

          &:active {
            transform: scale(0.95);
          }

          div {
            height: 30px;
            width: 30px;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }

          p {
            margin-left: 0.5rem;
            font-weight: 700;
            color: $white;
          }
        }
      }
    }

    section {
      margin-top: 5rem;
      width: 60%;
      display: flex;
      flex-direction: column;
      transition: all 0.3s ease-in-out;

      article {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        background: $white;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: 1rem;
        transition: all 0.2s linear;

        &:hover {
          border: 1px solid $violet;
        }

        &.hide {
          opacity: 0;
          transform: translateY(-10px);
          visibility: hidden;
        }

        &.pending {
          .right-side {
            .status {
              background: rgba(orange, 0.1);

              i {
                color: orange;
              }

              p {
                color: orange;
              }
            }
          }
        }

        &.paid {
          .right-side {
            .status {
              background: rgba($green, 0.1);

              i {
                color: $green;
              }

              p {
                color: $green;
              }
            }
          }
        }

        &.draft {
          .right-side {
            .status {
              background: rgba($dark-grayish-blue, 0.05);

              i {
                color: $dark-grayish-blue;
              }

              p {
                color: $dark-grayish-blue;
              }
            }
          }
        }

        .left-side,
        .right-side {
          display: flex;
          align-items: center;
        }

        .left-side {
          .code-id {
            width: 4rem;
            font-size: 0.8rem;
            font-weight: 700;

            span {
              color: gray;
              font-weight: 600;
              font-size: 0.8rem;
            }
          }

          .due-date,
          .name {
            margin-left: 2rem;
            font-size: 0.8rem;
            color: darkgrey;
          }
        }

        .right-side {
          .amount {
            font-weight: 700;
            margin-right: 2rem;
          }

          .status {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 7rem;
            padding: 0.8rem;
            border-radius: 5px;
            background: rgba($black, 0.1);
            margin-right: 1.5rem;

            i {
              font-size: 0.6rem;
              margin-right: 10px;
            }

            p {
              font-size: 0.8rem;
              font-weight: 700;
              color: $black;
            }
          }
        }
      }
    }

    .invoice-info-section {
      width: 50%;
      display: none;
      flex-direction: column;
      transform: translateX(75%);
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease-in-out all;

      &.show-invoice-info {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
      }

      .back-btn {
        cursor: pointer;
        width: 6rem;
        background: none;
        border: none;
        display: flex;

        &:hover {
          p {
            color: $invoice-details-text-color;
          }
        }

        p {
          margin-left: 1.5rem;
          font-size: 12px;
          transition: all 0.2s linear;
        }
      }

      .invoice-status {
        margin-top: 2rem;
        background: $white;
        width: 100%;
        border-radius: 5px;
        box-shadow: 2px 4px 7px rgba($black, 0.05);
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 3.5rem 8rem 1fr 1fr 1fr 1fr 1fr 6rem;
        align-content: center;
        grid-template-areas: 'status status-info . . . . edit delete';

        &.pending {
          .status {
            background: rgba(orange, 0.1);

            i {
              color: orange;
            }

            p {
              color: orange;
            }
          }
        }

        &.paid {
          .status {
            background: rgba($green, 0.05);

            i {
              color: $green;
            }

            p {
              color: $green;
            }
          }
        }

        &.draft {
          .status {
            background: rgba($dark-grayish-blue, 0.05);

            i {
              color: $dark-grayish-blue;
            }

            p {
              color: $dark-grayish-blue;
            }
          }
        }

        p {
          display: flex;
          align-items: center;
          grid-area: status;
          text-align: left;
          font-size: 12px;
          color: $invoice-details-text-color;
        }

        .status {
          grid-area: status-info;
          display: flex;
          align-items: center;
          justify-content: center;
          // padding: 0.5rem;
          border-radius: 5px;
          background: rgba($black, 0.1);
          margin-right: 1.5rem;

          i {
            font-size: 0.6rem;
            margin-right: 10px;
          }

          p {
            font-size: 12px;
            font-weight: 700;
            color: $black;
          }
        }

        .edit-btn {
          grid-area: edit;
          background: none;
          border: none;
          font-weight: 700;
          color: $violet;
          border-radius: 2rem;
          margin-right: 1rem;
          padding: 1rem 1.5rem;
          font-size: 12px;
          cursor: pointer;
          transition: 0.3s ease-in all;

          &:hover {
            background: $pale-blue;
          }
        }

        .delete-btn {
          grid-area: delete;
          background: $pale-red;
          border: none;
          border-radius: 2rem;
          cursor: pointer;
          color: $white;
          font-weight: 700;
          transition: 0.3s ease-in all;
          font-size: 12px;

          &:hover {
            background: rgba($pale-red, 0.7);
          }
        }
      }

      .invoice-personal-details {
        background: $white;
        border-radius: 5px;
        padding: 1.5rem;
        margin-top: 2rem;

        .top {
          display: flex;
          justify-content: space-between;

          .left-side {
            h4 {
              color: $violet;

              span {
                color: $black;
              }
            }

            p {
              margin-top: 10px;
              font-size: 12px;
              color: $invoice-details-text-color;
            }
          }

          .right-side {
            p {
              display: block;
              color: $invoice-details-text-color;
              font-size: 12px;
              text-align: right;
              margin: 3px;
            }
          }
        }

        .middle {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          margin-top: 4rem;
          min-height: 125px;

          .left-side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .date,
            .due {
              p {
                font-size: 12px;
                color: $invoice-details-text-color;
              }

              h4 {
                margin-top: 10px;
              }
            }
          }

          .mid-side {
            p {
              color: $invoice-details-text-color;
              font-size: 12px;
              margin-bottom: 3px;
            }

            h4 {
              margin: 15px 0 7px;
            }
          }

          .right-side {
            p {
              color: $invoice-details-text-color;
              font-size: 12px;
            }

            h4 {
              margin-top: 10px;
            }
          }
        }

        .bottom {
          display: grid;
          grid-template-columns: 1fr 4rem 4rem 1fr;
          grid-template-rows: 2fr 1fr;
          grid-template-areas:
            'name qty price total'
            'amount-due amount-due amount-due amount-due';
          margin-top: 8rem;

          .item-name {
            grid-area: name;

            .name {
              font-weight: 400;
              color: $invoice-details-text-color;
            }

            p {
              font-size: 12px;
              font-weight: 700;
              margin: 0 0 2rem 2rem;
            }
          }

          .item-quantity {
            grid-area: qty;

            .quantity {
              font-weight: 400;
              color: $invoice-details-text-color;
            }

            p {
              text-align: center;
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 2rem;
              color: $invoice-details-text-color;
            }
          }

          .item-price {
            grid-area: price;

            .price {
              font-weight: 400;
              color: $invoice-details-text-color;
            }

            p {
              text-align: right;
              font-size: 12px;
              font-weight: 700;
              margin-bottom: 2rem;
              color: $invoice-details-text-color;
            }
          }

          .item-total {
            grid-area: total;

            .total {
              font-weight: 400;
              color: $invoice-details-text-color;
            }

            p {
              text-align: right;
              font-size: 12px;
              font-weight: 700;
              margin: 0 2rem 2rem 0;
            }
          }

          .amount-due {
            grid-area: amount-due;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: $dark-grayish-blue;
            padding: 2rem;
            border-radius: 5px;

            p {
              color: $white;
              font-weight: 700;
            }

            .due {
              font-size: 12px;
            }

            .total {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  form {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($black, 0.3);
    z-index: 5;
    display: block;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;

    .inner-container {
      height: 100%;
      width: 50%;
      position: absolute;
      left: -100%;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      background: $white;
      padding: 3rem 2rem 1rem 10rem;
      transition: all 0.6s ease-in-out;

      .form-content {
        margin-top: 3rem;
        padding-right: 2rem;
        height: 70%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-thumb {
          background: rgba($violet, 0.7);
          border-radius: 5px;
        }

        p,
        label {
          font-size: 12px;
          transition: all 0.3s ease-in-out;
        }

        .bill-from {
          p {
            color: $violet;
            font-weight: 700;
          }

          label {
            color: $violet;
            display: block;
            margin-top: 1rem;
          }

          input[type='text'] {
            &:focus {
              border: 1px solid $violet;
            }

            &.empty {
              border: 1px solid orangered;
            }

            height: 3rem;
            width: 100%;
            border: 1px solid $pale-blue;
            margin-top: 10px;
            border-radius: 5px;
            padding: 1rem;
            outline: none;
            transition: all 0.3s ease-in-out;
          }

          .more-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            div {
              display: flex;
              flex-direction: column;
              width: 30%;
            }
          }
        }

        .bill-to {
          margin-top: 3rem;

          p {
            color: $violet;
            font-weight: 700;
          }

          label {
            color: $violet;
            display: block;
            margin-top: 1rem;
          }

          input[type='text'],
          input[type='email'] {
            &.empty {
              border: 1px solid orangered;
            }

            &:focus {
              border: 1px solid $violet;
            }

            height: 3rem;
            width: 100%;
            border: 1px solid $pale-blue;
            margin-top: 10px;
            border-radius: 5px;
            outline: none;
            padding: 1rem;
            transition: all 0.3s ease-in-out;

            &::placeholder {
              font-size: 12px;
              font-weight: 700;
              color: rgba($black, 0.4);
            }
          }

          .more-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            div {
              display: flex;
              flex-direction: column;
              width: 30%;
            }
          }

          .payment-details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1rem;

            div {
              display: flex;
              flex-direction: column;
              width: 45%;

              input[type='date'],
              select {
                &:focus {
                  border: 1px solid $violet !important;
                }

                height: 3rem;
                width: 100%;
                border: 1px solid $pale-blue;
                margin-top: 10px;
                border-radius: 5px;
                outline: none;
                padding: 1rem;
                cursor: pointer;
              }

              input[type='date'] {
                &::-webkit-calendar-picker-indicator {
                  cursor: pointer;
                  filter: invert(53%) sepia(70%) saturate(7354%)
                    hue-rotate(238deg) brightness(109%) contrast(96%);
                }

                &::-webkit-datetime-edit-fields-wrapper {
                  font-family: 'Spartan', sans-serif;
                  font-weight: 900;
                  font-size: 12px;
                  color: rgba($violet, 0.7);
                  // color: $violet;
                  // display: none;
                }
              }

              select {
                appearance: none;

                option {
                  font-weight: 700;
                  color: rgba($violet, 0.7);
                }
              }
            }
          }

          .item-list {
            &.field-empty-alert {
              small {
                display: block;
              }
            }

            &.item-empty-alert {
              .item-alert {
                display: block;
              }
            }

            h4 {
              margin-top: 3rem;
              color: rgba($dark-grayish-blue, 0.8);
              font-size: 1.5rem;
            }

            .item {
              display: grid;
              grid-template-columns: 3fr 1fr 2fr 1fr 0.2fr;
              grid-gap: 0 15px;
              grid-template-areas: 'name quantity price total delete';
              position: relative;
              transition: all 0.3s linear;

              &.remove {
                transform: translateX(-20px);
                opacity: 0;
                visibility: hidden;
              }

              .name {
                grid-area: name;
              }

              .quantity {
                grid-area: quantity;
              }

              .price {
                grid-area: price;
              }

              .total {
                grid-area: total;

                p {
                  user-select: none;
                  margin: 25px 0 0 10px;
                }
              }

              img {
                grid-area: delete;
                justify-self: end;
                align-self: end;
                margin-bottom: 20px;
                cursor: pointer;

                &:hover {
                  filter: invert(42%) sepia(56%) saturate(6715%)
                    hue-rotate(1deg) brightness(102%) contrast(106%);
                }
              }
            }

            button {
              margin-top: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              border-radius: 2rem;
              border: none;
              outline: none;
              padding: 1rem;
              background: $white;
              font-weight: 700;
              color: $text-color;
              transition: all 0.2s linear;
              cursor: pointer;

              img {
                margin-right: 5px;
              }

              &:hover {
                background: $pale-blue;
              }
            }

            small,
            .item-alert {
              color: orangered;
              display: block;
              font-size: 12px;
              font-weight: 500;
              display: none;
            }

            small {
              margin-top: 3rem;
            }

            .item-alert {
              margin-top: 10px;
            }
          }
        }
      }

      .button-selections {
        margin-top: 2rem;
        display: grid;
        grid-gap: 10px 10px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 'discard . . . draft send';

        .discard-btn {
          grid-area: discard;
          outline: none;
          border: none;
          border-radius: 2rem;
          padding: 1rem 2rem;
          color: $text-color;
          background: $white;
          font-weight: 800;
          cursor: pointer;
          transition: all 0.2s linear;

          &:hover {
            background: $pale-blue;
          }
        }

        .draft-btn {
          grid-area: draft;
          outline: none;
          border: none;
          padding: 1rem;
          border-radius: 2rem;
          background: $dark-grayish-blue;
          font-size: 12px;
          width: 8rem;
          font-weight: 700;
          cursor: pointer;
          color: $text-color;
          transition: all 0.2s ease-in;

          &:hover {
            background: $black;
          }
        }

        .send-btn {
          grid-area: send;
          outline: none;
          border: none;
          padding: 1rem;
          border-radius: 2rem;
          width: 8rem;
          font-weight: 700;
          font-size: 12px;
          background: $violet;
          color: $white;
          cursor: pointer;
          transition: all 0.2s ease-in;

          &:hover {
            background: rgba($violet, 0.8);
          }
        }
      }
    }
  }
}
